body{
    padding-top:68px;
    background-image: linear-gradient(#cbcbd7, #E6E6FA);
    height:100vh;
}
img{
    margin: 0;
    width:80%;
}
.sideNavA{
    color:#0574a9;
    cursor: pointer;
    font-size: large;
}
.sideNavA:hover{
    text-decoration: underline;
    color:#0574a9;
    font-weight: bold;
  
}
.create_class_form{
    display: none;
}
.faculty,.student,.classes{
    padding:5vh;
}
.faculty h3,.student h3,.classes h3{
    padding-top: 4vh;
    color:#01a1ec;
    font-family: Georgia, sans-serif;
    font-size: xx-large;
    letter-spacing: -2px;
}
table{
    border: 2px solid grey;
}
.form{
    /* margin: auto;
    width:60%; */
    column-gap: 5vh;
}
.form div select,.create_class_form select{
    height:5vh;
    border-radius: 10px;
    width: 100%;
    padding:5px;
}
.form div button,.create_class_form button{
    border-radius: 10px;
}
.create_class_form{
    margin: auto;
    width: 80%;
    background-color: rgb(230, 223, 223);
    border: 2px solid rgb(230, 223, 223);
    border-radius: 5vh;
    padding:4vh;
}
.create_class_form h6{
    font-weight: bolder;
    text-decoration: underline;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 2px;
    font-size: large;
}
.navbar{
	background-color:black;
}
	

