.profiles-h1 {
    color:rgb(221, 155, 32);
    font-size: 4rem;
    margin-bottom: 1rem;
}

.profile, .profile-grid {
    display: grid;
}

.profile {
    -ms-grid-columns: 2fr 4fr 2fr;
    grid-template-columns: 2fr 4fr 2fr;
    grid-gap: 2rem;
    align-items: center;
    padding: 1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    background-color: #98bae7;
    border: 2px solid #0574a9;
    border-radius: 2vh;
    box-shadow: 5px 5px 5px grey;
}

.round-img {
    border-radius: 70%;
}

ul {
    list-style-type: none;
}

.text-second{
    color:#0d5170;
}

.profile-search {
    justify-content: center;
    margin:2rem 0;
    display: flex;
}
.profile-search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid #0574a9;
    float: left;
    width: 60%;
    background: #f1f1f1;
  }
  
  .profile-search button {
    float: left;
    width: 15%;
    padding: 10px;
    background:#096894;
    color: white;
    font-size: 17px;
    border: 1px solid black;
    border-left: none;
    cursor: pointer;
  }
  
  .profile-search button:hover {
    background:#0574a9;
  }
  
  .profile-search::after {
    content: "";
    clear: both;
    display: table;
  }
  .profile div h2,.profile div h6,{
  color: black;
  }