body {
    padding-top: 100px;
}

.signup-h1 {
    color:rgb(221, 155, 32);
    margin-bottom: 1rem;
}

.signUp{
    height: 100%;
    padding: 0;
    margin:auto;
    width: 60%;
}

#errors{
	display:none;
	margin:auto;
	width:60%;
	border-radius:10px;	
	border:2px black solid; 
	padding:1vw;
	margin-bottom:20px;
}
#errors li{
	font-weight:bold;
	color:red;
}