body {
    padding-top: 100px;
}

.signup-h1 {
    margin-bottom: 1rem;
    color:#01a1ec;
    font-family: Georgia, sans-serif;
    font-size: xx-large;
    letter-spacing: -2px;
}

.signUp{
    height: 100%;
    padding: 0;
    margin:auto;
    width: 60%;
}

#errors{
	display:none;
	margin:auto;
	width:60%;
	border-radius:10px;	
	border:2px black solid; 
	padding:1vw;
	margin-bottom:20px;
}
#errors li{
	font-weight:bold;
	color:red;
}